@import "../../styles/global_variables.module.scss";

.daily-promotion {
    display: flex;
    width: 100%;
    margin: 50px 0;
    border-radius: 5px;
    box-shadow: 2px 2px 3px 3px #cecece;
    background-color: #ffffff;
}
.daily-promotion-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    img {
        max-width: 100%;
    }
}

.daily-promotion-timer {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font-family: $headers-font;
    // color: red;
    width: 250px;
    margin: 0 auto;
    font-size: 1.8rem;
    font-weight: 700;
}
.daily-promotion-info {
    flex: 0 1 400px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 5px auto;
}
.daily-description {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
}
.daily-price {
    font-size: 1.7rem;
    font-weight: 600;
}
.price-crossed {
    margin-left: 20px;
    font-size: 1.3rem;
    font-weight: 500;
    color: #858585;
    text-decoration: line-through;
}
.daily-btn {
    margin-top: 20px;
}

/* ---------------------------------------------------
    MEDIA QUERIES
----------------------------------------------------- */
@media (min-width: 320px) and (max-width: 1181px) {
    .daily-promotion {
        flex-flow: row wrap;
        width: auto;
        padding: 20px;
        margin: 20px;
    }
}
