.contact-container {
    margin: 0;
    display: flex;
    flex-flow: column;
    font-size: 0.8rem;
    font-weight: 700;
    width: 150px;
    div {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 5px;
        margin: 0;
        svg {
            margin: 0 10px;
        }
    }
    p {
        margin: 0;
    }
}

/* ---------------------------------------------------
    MEDIA QUERIES
----------------------------------------------------- */

@media (min-width: 320px) and (max-width: 1181px) {
    .contact-container {
        display: none;
    }
}
