.newsletter-container {
    height: 564px;
    margin: 20px 0;
    padding: 50px 70px;
    background-image: url("./../../assets/images/banner.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 15px;
}
.newsletter-form {
    max-width: 650px;
    padding: 40px;
    input {
        padding: 10px;
        border-radius: 5px;
        font-size: 1.1rem;
    }
}
.newsletter-header {
    font-size: 2rem;
    font-weight: 600;
}
/* ---------------------------------------------------
    MEDIA QUERIES
----------------------------------------------------- */
@media (min-width: 320px) and (max-width: 1181px) {
    .newsletter-container {
        height: auto;
        margin: 40px 20px;
        padding: 0px 0px;
        background-size: cover;
    }
}
