@import "../../../styles/global_variables.module.scss";

.products-container {
    flex: 1;
}
.category-title {
    font-size: 2.2rem;
    padding: 0 0 10px 10px;
    border-bottom: 1px solid $shadow-color;
    text-transform: capitalize;
    color: #000000;
}
.sorting-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 0 0;
    font-size: 1rem;
    color: $footer-text-color;
}
.category-products-counter {
    margin: 0 auto 0 10px;
}
.sortbar {
    width: 250px;
    padding: 8px;
    border-radius: 5px;
    margin-left: 20px;
}

.category-products {
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
}
// .category-tile {
// }

/* ---------------------------------------------------
     MEDIA QUERIES
----------------------------------------------------- */
@media (min-width: 320px) and (max-width: 1181px) {
    .products-container {
        padding: 15px;
    }
    .category-tile {
        margin: 10px auto;
        max-width: 180px;
    }
}
