$page-background-color: #ffffff;

$primary-color: #f9f9f9; // navbar background, main container background
$secondary-color: #ffffff; // products tales, newsletters, info-bars background
$tertiary-color: #343a40; // categories bar, footer

$shadow-color: #cecece; // color for shadows/hovers

$footer-text-color: #868686;
