@import "../../../../styles/global_variables.module.scss";

.basket-products-container {
    padding: 0 3rem 2rem 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.basket-products-wrapper {
    padding: 0px !important;
}
.basket-product {
    box-shadow: 2px 2px 3px 3px #cecece;
    background-color: #ffffff;
    margin: 0.6rem;
    padding: 5px 10px;
    border-radius: 5px;
    flex-grow: 1;
    height: 5.8rem;
    display: flex;
    img {
        width: 100%;
    }
}
.basket-product-img {
    height: 80px;
    width: 80px;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    img {
        height: 100%;
    }
}
.basket-product-info {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 10px;
    margin-right: auto;
}
.basket-product-title {
    font-weight: 600;
    overflow: hidden;
}
.basket-product-actions {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    svg {
        margin-left: 10px;
        font-size: 1.2rem;
        cursor: pointer;
        transition: color 0.3s ease-in-out;
        &:hover {
            color: #ff0404;
        }
    }
}
.basket-product-quantity {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.basket-product-prices {
    display: flex;
    flex-flow: column;
    align-items: flex-end;
}
.basket-product-price {
    font-size: 0.8rem;
    color: $footer-text-color;
}
.basket-product-total-price {
    font-size: 1.2rem;
    font-weight: 600;
}

/* ---------------------------------------------------
     MEDIA QUERIES
----------------------------------------------------- */

@media (min-width: 320px) and (max-width: 1181px) {
    .basket-container {
        font-size: 0.9rem;
        margin: 20px;
    }
    .basket-product {
        padding: 0 10px;
        img {
            width: 100%;
            max-height: 100%;
            // border: 2px solid #2ce90a;
        }
    }
}
