@import "../../styles/global_variables.module.scss";

.products-container {
    // border: 2px solid #2ce90a;
    flex: 1 0 auto;
}
.category-title {
    font-size: 2.2rem;
    padding-bottom: 10px;
    text-align: center;
    border-bottom: 1px solid $shadow-color;
    // border: 2px solid #f11b1b;
}
.sorting-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1rem;
    color: $footer-text-color;
}
.sortbar {
    width: 250px;
    padding: 8px;
    border-radius: 5px;
    margin-left: 20px;
}

.products {
    // border: 2px solid #f11b1b;
}
