@import "../../../styles/global_variables.module.scss";

.product-container {
    // border: 2px solid #f11b1b;
    padding: 20px;
    background-color: $page-background-color;
    border-radius: 10px;
    // width: 100%;
    // margin: 0 auto;
}
.product-photo-container {
    cursor: pointer;
    display: flex;
    justify-content: center;
    img {
        max-height: 500px;
    }
}
.modal-body {
    img {
        width: 100%;
    }
}

/* ---------------------------------------------------
     MEDIA QUERIES
----------------------------------------------------- */

@media (min-width: 320px) and (max-width: 1181px) {
    .product-container {
        margin: 0 0 !important;
    }
}
