@import "../../../styles/global_variables.module.scss";

.product-container {
    padding: 20px;
    background-color: $page-background-color;
    border-radius: 10px;
}
.product-photo-container {
    img {
        width: 100%;
    }
}
