@import "../../../styles/global_variables.module.scss";

.product-container {
    padding: 1.4rem;
    margin-bottom: 1.4rem;
    background-color: $page-background-color;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}
.product-photo-container {
    cursor: pointer;
    display: flex;
    flex: 1 0 50%;
    justify-content: center;
    img {
        max-height: 500px;
    }
}
.modal-body {
    img {
        width: 100%;
    }
}

/* ---------------------------------------------------
     MEDIA QUERIES
----------------------------------------------------- */

@media (min-width: 320px) and (max-width: 1181px) {
    .product-container {
        margin: 0 0 !important;
    }
}
