@import "../../styles/global_variables.module.scss";

.hero-img {
    display: flex;
    align-items: flex-start;
    width: 100%;
    background-image: url("../../assets/images/banner5.jpg");
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-text {
    width: 35rem;
    margin-left: 22%;
    margin-top: 12%;
    opacity: 0.9;
    color: $primary-color;
    text-shadow: 3px 3px 4px $tertiary-color;
}
.hero-header {
    font-size: 3.5rem;
    font-family: $headers-font;
}
.hero-paragraph {
    font-size: 1.2rem;
    margin-top: 20px;
}

/* ---------------------------------------------------
    MEDIA QUERIES
----------------------------------------------------- */
@media (min-width: 320px) and (max-width: 1181px) {
    .hero-img {
        height: 40vh;
    }
    .hero-text {
        // border: 2px solid #069cc8;
        max-width: 70%;
        margin: 5% auto;
        padding: 25px;
    }
    .hero-header {
        font-size: 2rem;
        font-family: $headers-font;
    }
    .hero-paragraph {
        font-size: 1.1rem;
    }
}
