@import "../../../../styles/global_variables.module.scss";

.product-description {
    margin-top: 30px;
    padding: 20px;
    font-size: 1.2rem;
    flex: 1 0 100%;
}
.description-link {
    color: $footer-text-color;
    font-weight: 600;
    &:hover {
        color: inherit;
    }
}
.description-tab {
    padding: 20px;
    font-size: 1rem;
}
.details-row {
    padding: 10px;
    font-size: 1.2rem;
    :first-child {
        font-weight: 600;
    }
}
.details-column {
    // margin: 0 20px;
    padding: 5px;
    background-color: $primary-color;
    border-bottom: 1px solid $shadow-color;
}
