@import "../../../styles/global_variables.module.scss";

.header-categories {
    padding: 0 !important;
}

.header-categories-menu {
    display: flex;
    justify-content: center;
}

// Link styles

.categories-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    min-height: 100%;
    min-width: 200px;
    font-size: 1.2rem;
    font-weight: 600;
    list-style: none;
    a {
        &:hover {
            text-decoration: none;
        }
    }
}
.categories-link {
    // font-family: $headers-font;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    padding: 5px;
    position: relative;
    cursor: pointer;
    &::after {
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        background: #ffffff;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
    }
    &:hover {
        text-decoration: none;
        color: #ffffff;
    }
    &:hover:after {
        width: 100%;
        left: 0;
    }
}
.categories-selected {
    background: linear-gradient(to right, #30cfd0 0%, #b3d5f0 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* ---------------------------------------------------
    MEDIA QUERIES
----------------------------------------------------- */
