header {
    position: sticky;
    top: 0;
    z-index: 1;
}
.header-top {
    max-height: 70px;
}
.header-top-menu {
    position: relative;
}
.navbar {
    padding: 0 !important;
}
.logo {
    height: 60px;
    user-select: none;
    margin: 0 auto !important;
}
.login,
.shopping-cart {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: inherit;
    padding: 10px;
    font-size: 1rem;
    font-weight: 600;
    user-select: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    p {
        margin: 0;
    }
    svg {
        font-size: 2rem;
    }
    &:hover {
        background: #bbbbbb;
        color: inherit;
        text-decoration: none;
    }
}
.shopping-cart {
    position: relative;
    margin-left: 100px;
}
.shopping-cart-badge {
    position: absolute;
    right: 10px;
    background: linear-gradient(to right, #30cfd0 0%, #330867 100%) !important;
}

// .login {
//     margin-left: 100px;
// }

.contact-container {
    margin: 0;
    display: flex;
    flex-flow: column;
    font-size: 0.8rem;
    font-weight: 700;
    width: 150px;
    div {
        display: flex;
        align-items: center;
        padding: 3px;
        margin: 0;
        svg {
            margin: 0 5px;
        }
    }
    p {
        margin: 0;
    }
}

/* ---------------------------------------------------
    MEDIA QUERIES
----------------------------------------------------- */

@media (min-width: 1181px) {
    .header-top {
        justify-content: center !important;
    }
    .header-top-menu {
        flex-grow: 0 !important;
    }
}

@media (min-width: 320px) and (max-width: 1181px) {
    .header-top {
        flex-wrap: nowrap !important;
    }
    .header-top-menu {
        display: flex !important;
        flex: 0 !important;
        justify-content: flex-end;
    }
    .header-top-menu-container {
        display: flex;
        height: 70px;
    }
    .navbar-toggler {
        margin: 0 5px;
        align-self: center;
    }
    .contact-container {
        display: none;
    }
    .login,
    .shopping-cart {
        p {
            display: none;
        }
    }
    .shopping-cart {
        margin-left: 0px;
    }

    .contact-container {
        display: none;
    }
}
