header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

.header-top {
  max-height: 70px;
}

.header-top-menu {
  position: relative;
}

.navbar {
  padding: 0 !important;
}

.logo {
  height: 60px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: 0 auto !important;
}

.shopping-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  color: #000;
  padding: 3px 6px;
  font-size: 1rem;
  font-weight: 600;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.shopping-cart p {
  margin: 0;
}

.shopping-cart svg {
  font-size: 2rem;
}

.shopping-cart:hover {
  background: #bbbbbb;
  text-decoration: none;
}

.shopping-cart {
  position: relative;
  margin-left: 100px;
}

.shopping-cart-badge {
  position: absolute;
  right: 10px;
  background: -webkit-gradient(linear, left top, right top, from(#30cfd0), to(#330867)) !important;
  background: linear-gradient(to right, #30cfd0 0%, #330867 100%) !important;
}

.contact-container {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  font-size: 0.8rem;
  font-weight: 700;
  width: 150px;
}

.contact-container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3px;
  margin: 0;
}

.contact-container div svg {
  margin: 0 5px;
  color: #000;
}

.contact-container p {
  margin: 0;
}

/* ---------------------------------------------------
    MEDIA QUERIES
----------------------------------------------------- */
@media (min-width: 1181px) {
  .header-top {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .header-top-menu {
    -webkit-box-flex: 0 !important;
        -ms-flex-positive: 0 !important;
            flex-grow: 0 !important;
  }
}

@media (min-width: 320px) and (max-width: 1181px) {
  .header-top {
    -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important;
  }
  .header-top-menu {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 !important;
            flex: 0 !important;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .header-top-menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 70px;
    margin-right: 4rem;
  }
  .navbar-toggler {
    margin: 0 5px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .contact-container {
    display: none;
  }
  .login p,
  .shopping-cart p {
    display: none;
  }
  .shopping-cart {
    margin-left: 0px;
  }
  .contact-container {
    display: none;
  }
  .logo {
    margin-left: 1rem !important;
  }
}
/*# sourceMappingURL=header.css.map */