.header-top {
    max-height: 70px;
}
.logo {
    height: 60px;
    user-select: none;
    margin: 0 auto !important;
}

/* ---------------------------------------------------
    MEDIA QUERIES
----------------------------------------------------- */

@media (min-width: 1181px) {
    .header-top {
        justify-content: center !important;
    }
    .header-top-menu {
        flex-grow: 0 !important;
    }
}

@media (min-width: 320px) and (max-width: 1181px) {
    .header-top {
        flex-wrap: nowrap !important;
    }
    .header-top-menu {
        display: flex !important;
        flex: 0 !important;
        justify-content: flex-end;
    }
    .contact-container {
        display: none;
    }
}
