@import "../../../../styles/global_variables.module.scss";

.filter {
    display: flex;
    flex-flow: column;
    font-size: 1rem;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid $shadow-color;
    ul {
        list-style: none;
    }
}
.filter-item {
    display: flex;
    align-items: center;
    padding: 5px;
}
.filter-label {
    font-size: 0.8rem;
    margin: 0 0 0 5px;
}
// .filter-mark {
// }
