@import "../../../../styles/global_variables.module.scss";

.product-info-container {
    // border: 2px solid #f11b1b;
    flex: 1 0 50%;
}
.product-name {
    margin: 20px 0 20px 20px;
    font-weight: 600;
    font-size: 1.8rem;
}
.product-info-price {
    margin: 0 0 20px 20px;
    font-size: 1.8rem;
}
.product-info-price-crossed {
    color: $footer-text-color;
    font-size: 1.2rem;
    text-decoration: line-through;
}
.product-properties {
    margin: 0;
    padding: 10px;
    border-top: 1px solid $shadow-color;
    svg {
        margin-right: 15px;
        color: $tertiary-color;
    }
}
