@import "../../styles/global_variables.module.scss";

html {
    scroll-behavior: smooth;
}
.footer {
    position: relative;
    // border: 2px solid #069cc8;
}
.footer-container {
    // border: 2px solid #2ce90a;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    max-width: 1180px;
    margin: 0 auto;
}
.footer-nav {
    // border: 2px solid #f11b1b;
    display: flex;
    flex-flow: row wrap;
    flex: 1 0 300px;
}
.footer-nav-item {
    // border: 2px solid #069cc8;
    min-width: 200px;
    margin: 10px;
    text-align: center;
    text-transform: capitalize;
}
.footer-link {
    // border: 2px solid #2ce90a;
    color: inherit;
    transition: color 0.2s ease-in-out;
    cursor: pointer;
    &:hover {
        text-decoration: none;
        color: #ffffff;
    }
}
.footer-socials {
    // border: 2px solid #f11b1b;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    a {
        color: inherit;
        &:hover {
            color: inherit;
        }
    }
    svg {
        // border-radius: 50%;
        margin: 10px;
        cursor: pointer;
        transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
        &:hover {
            color: #ffffff;
            transform: scale(1.1);
        }
    }
}
.footer-copyright {
    flex: 0 0 auto;
    max-width: 1180px;
    margin: 20px auto 0;
    padding: 10px 20px 0;
    border-top: 1px solid $footer-text-color;
    text-align: right;
}
/* ---------------------------------------------------
    MEDIA QUERIES
----------------------------------------------------- */

@media (min-width: 320px) and (max-width: 800px) {
    .footer-container {
        flex-flow: column nowrap;
    }
}

@media (min-width: 320px) and (max-width: 1181px) {
    .footer-nav {
        flex: 1 0 200px;
        justify-content: center;
    }
    .footer-nav-item {
        min-width: 150px;
    }
    .footer-socials {
        flex: 1 0 auto;
        justify-content: center;
    }
}
