@import "../../../styles/global_variables.module.scss";

.basket-modal {
    flex-flow: column;
    justify-content: space-between;
    position: absolute;
    min-height: 180px;
    padding: 20px;
    width: 400px;
    top: 70px;
    right: 0px;
    z-index: 1;
    background: $secondary-color;
    box-shadow: $product-box-shadow;
    border-radius: 5px;
}
.basket-modal-overflow-container {
    max-height: 330px;
    overflow: auto;
}
.basket-modal-products {
    overflow: auto;
    max-height: 240px;
}
.basket-modal-btn {
    justify-content: center;
    width: 100%;
    background-color: $primary-color;
    border: none;
    border-radius: 0;
    color: inherit;
    text-align: center;
    &:hover {
        color: inherit;
        text-decoration: none;
    }
}
.basket-modal-empty-info {
    margin: auto;
    padding: 20px;
    font-size: 1.3rem;
    text-align: center;
}
