@import "../../../../../styles/global_variables.module.scss";

.product-actions {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    border-top: 1px solid $shadow-color;
    padding: 30px 10px 10px;
    // border: 2px solid #f11b1b;
}
.product-actions-container {
    // border: 2px solid #069cc8;
    display: flex;
    align-items: center;
}
.product-quantity {
    font-size: 1.5rem;
    border: 2px solid $shadow-color;
    border-radius: 5px;
    input {
        width: 50px;
        margin: 0;
        font-size: 1.3rem;
        border: none;
        text-align: center;
    }
}
.quantity-btn {
    padding: 0 8px;
    border: none;
    font-weight: 600;
}
.add-to-cart-btn {
    margin: 10px 50px;
    font-size: 1rem;
}
.basket-alert {
    border: 2px solid #007e33;
    padding: 20px !important;
    border-radius: 10px !important;
}
