@import "../../../../../styles/global_variables.module.scss";

.product-actions {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    border-top: 1px solid $shadow-color;
    padding: 30px 10px 10px;
}
.product-actions-container {
    display: flex;
    align-items: center;
}

.add-to-cart-btn {
    margin: 0px 50px;
    font-size: 1rem;
}
.basket-alert {
    border: 2px solid #007e33;
    padding: 20px !important;
    border-radius: 10px !important;
}

/* ---------------------------------------------------
     MEDIA QUERIES
----------------------------------------------------- */

@media (min-width: 320px) and (max-width: 1181px) {
    .add-to-cart-btn {
        margin: 10px 30px;
        font-size: 1rem;
    }
}
