@import "../../../styles/global_variables.module.scss";

.basket-container {
    color: #000000;
}
.summary-info {
    font-size: 1rem;
    display: flex;
    flex-flow: column;
}
.summary-row {
    display: flex;
    justify-content: space-between;
}
.cost-total {
    margin-top: 20px;
    padding: 10px 0;
    font-size: 1.2rem;
    font-weight: 600;
    border-top: 2px solid #000000;
}
.basket-summary-btn {
    align-self: flex-end;
}

/* ---------------------------------------------------
     MEDIA QUERIES
----------------------------------------------------- */

@media (min-width: 1181px) {
}
@media (min-width: 320px) and (max-width: 1181px) {
    .basket-summary {
        margin-top: 20px;
    }
    .summary-info {
        padding: 20px;
    }
}
