@import '../../styles/global_variables.module.scss';

.display-products {
    padding: 10px;
    margin: 10px 0;
    display: flex;
    flex-flow: column;
    align-items: center;
    p {
        align-self: flex-start;
        font-weight: 600;
        color: #000000;
    }
    a {
        font-size: 0.9rem;
    }
}
.display-products-tiles {
    display: flex;
    // margin: 10px auto;
    padding: 0px;
}

/* ---------------------------------------------------
    MEDIA QUERIES
----------------------------------------------------- */

@media (min-width: 320px) and (max-width: 890px) {
    .display-products {
        margin-top: 10px;
        p {
            margin: 0 10px;
        }
    }
    .display-products-tiles {
        flex-flow: row wrap;
    }
}

@media (min-width: 650px) and (max-width: 1025px) {
    .display-products-tiles .product-tile {
        width: 20%;
    }
}
