@import "../../styles/global_variables.module.scss";

.display-products {
    // border: 2px solid #069cc8;
    padding: 10px;
    margin: 10px 0;
    display: flex;
    flex-flow: column;
    p {
        align-self: flex-start;
        font-weight: 600;
        color: #000000;
    }
    a {
        font-size: 0.9rem;
    }
}
.display-products-tiles {
    display: flex;
    margin: 10px 0;
    padding: 0px;
    margin: 0;
}

/* ---------------------------------------------------
    MEDIA QUERIES
----------------------------------------------------- */

@media (min-width: 320px) and (max-width: 1181px) {
    .display-products {
        // border: 2px solid #f11b1b;
        margin-top: 10px;
        p {
            margin: 0 10px;
        }
    }
    .display-products-tiles {
        flex-flow: row wrap;
        // margin: 10px;
        // border: 2px solid #069cc8;
    }
}
