@import "../../styles/global_variables.module.scss";

.display-products {
    padding: 10px;
    display: flex;
    flex-flow: column;
    p {
        align-self: flex-start;
        font-weight: 600;
        color: #000000;
    }
    a {
        font-size: 0.9rem;
    }
}
.display-products-tiles {
    display: flex;
    margin: 10px 0;
}

/* ---------------------------------------------------
    MEDIA QUERIES
----------------------------------------------------- */

@media (min-width: 320px) and (max-width: 580px) {
    .display-products {
        margin-top: 10px;
        p {
            margin: 0 10px;
        }
    }
    .display-products-tiles {
        flex-flow: row wrap;
        margin: 10px;
    }
}
